extends layout

block content
  div.success-message
    h1 Order Placed Successfully!
    p Your order has been confirmed. You will receive your food soon.
    p Payment will be collected upon delivery (Cash on Delivery).
    a(href='/orders') View All Orders
    br
    a(href='/') Back to Home
